.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.csv-preview {
  margin-top: 1rem;
}

.csv-preview th,
.csv-preview td {
  border: solid 1px lightgrey;
  padding: 0 1rem;
}

.csv-preview th {
  background-color: lightgrey;
}
