<div class="container">
  <a
    mat-raised-button
    routerLink="/calculatrice"
    class="mb-2"
  >
    <mat-icon>chevron_left</mat-icon>
    Retour
  </a>
  <div class="card">
    <div class="card-header">
      <h3>Tableaux de référence</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Code</th>
            <th>Actif</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let refTable of referenceTables">
            <td>
              {{ refTable.name }}
              <button
                *ngIf="refTable.description"
                mat-icon-button
                matTooltip="Voir la description"
                (click)="showDescription(refTable)"
              >
                <mat-icon>info</mat-icon>
              </button>
            </td>
            <td class="ref-table-code">{{ refTable.code }}</td>
            <td>
              <mat-slide-toggle
                *ngIf="canEditReferenceTable(); else activeStatusText"
                [checked]="refTable.active"
                (change)="toggleActive(refTable)"
              ></mat-slide-toggle>
              <ng-template #activeStatusText>
                {{ refTable.active ? 'Oui' : 'Non' }}
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="canEditReferenceTable(); else noEditButton">
                <button
                  mat-icon-button
                  matTooltip="Éditer le tableau"
                  [routerLink]="['/calculatrice/reference-table', refTable.id, 'edit']"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-container>
              <ng-template #noEditButton>
                <button
                  mat-icon-button
                  [disabled]="true"
                >
                  <mat-icon matTooltip="Vous n'avez pas l'autorisation d'éditer">edit</mat-icon>
                </button>
              </ng-template>
              <ng-container *ngIf="canExportReferenceTable(); else noExportButton">
                <button
                  mat-icon-button
                  matTooltip="Exporter le tableau"
                  (click)="downloadFile(refTable)"
                >
                  <mat-icon>download</mat-icon>
                </button>
              </ng-container>
              <ng-template #noExportButton>
                <button
                  mat-icon-button
                  [disabled]="true"
                >
                  <mat-icon matTooltip="Vous n'avez pas l'autorisation d'exporter">
                    download
                  </mat-icon>
                </button>
              </ng-template>
              <ng-container *ngIf="canDeleteReferenceTable(); else noDeleteButton">
                <button
                  mat-icon-button
                  matTooltip="Supprimer le tableau"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
              <ng-template #noDeleteButton>
                <button
                  mat-icon-button
                  [disabled]="true"
                >
                  <mat-icon matTooltip="Vous n'avez pas l'autorisation de supprimer">
                    delete
                  </mat-icon>
                </button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        *ngIf="canCreateReferenceTable()"
        [routerLink]="['/calculatrice/reference-table/create']"
        class="mt-2 mb-2"
        mat-raised-button
        color="primary"
      >
        Ajouter un tableau de référence
      </button>
    </div>
  </div>
</div>
<ng-template
  #infoModal
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      {{ selectedReferenceTable?.name }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ selectedReferenceTable?.description }}
  </div>
</ng-template>
