<div class="container">
  <div class="admin-actions">
    <button
      *ngIf="canReadReferenceTables()"
      [routerLink]="['/calculatrice/reference-tables']"
      class="mb-2 mt-2"
      mat-raised-button
      color="primary"
    >
      Gérer tableaux de référence
    </button>
  </div>
  <div class="indic-container">
    <div class="indic-protocol-list">
      <h3>Protocoles</h3>
      <mat-selection-list
        role="list"
        hideSingleSelectionIndicator
        #protocolList
        [multiple]="false"
        (selectionChange)="onProtocolChange(protocolList.selectedOptions.selected)"
      >
        <mat-list-option
          class="protocol"
          role="listitem"
          *ngFor="let protocol of protocols; index as i"
          [value]="protocol.id"
          [selected]="protocol && i === 0"
          class="mat-elevation-z2"
        >
          {{ protocol.label }}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="indic-list">
      <div>
        <h2>Liste des indicateurs</h2>
        <mat-nav-list
          role="list"
          *ngIf="indicators.length > 0"
        >
          <mat-list-item
            class="mat-elevation-z2"
            role="listitem"
            *ngFor="let indicator of indicators"
          >
            <div
              matListItemTitle
              class="list-item-container"
            >
              <a
                class="list-item-link"
                [routerLink]="['/calculatrice/visualization', indicator.id, 'params']"
              >
                {{ indicator.name }}
              </a>
              <span class="list-item-actions">
                <button
                  mat-icon-button
                  (click)="onInformationClick($event, indicator)"
                >
                  <mat-icon>info</mat-icon>
                </button>
                <button
                  mat-icon-button
                  *ngIf="canReadIndicator()"
                  [routerLink]="['/calculatrice/indicator', indicator.id, 'details']"
                >
                  <mat-icon>search</mat-icon>
                </button>
                <button
                  mat-icon-button
                  *ngIf="canEditIndicator()"
                  [routerLink]="['/calculatrice/indicator', indicator.id, 'edit']"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <mat-slide-toggle
                  *ngIf="canEditIndicator()"
                  [checked]="true"
                >
                  Publié
                </mat-slide-toggle>
              </span>
            </div>
          </mat-list-item>
        </mat-nav-list>
        <p *ngIf="protocols.length === 0; else elseBlock">Vous n'avez accès à aucun protocole.</p>
        <ng-template #elseBlock>
          <p *ngIf="indicators.length === 0">Le protocole choisi n'a pas d'indicateurs</p>
        </ng-template>
        <button
          *ngIf="canCreateIndicator()"
          [routerLink]="['/calculatrice/indicator/create']"
          class="uppercase mr-1"
          mat-raised-button
          color="primary"
        >
          Ajouter un indicateur
        </button>
      </div>
    </div>
  </div>
  <ng-template
    #descriptionModal
    let-modal
  >
    <div class="modal-header">
      <h4
        class="modal-title"
        id="modal-basic-title"
      >
        {{ selectedIndicator.name }}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ selectedIndicator.description }}</p>
    </div>
  </ng-template>
</div>
