h1 {
  text-align: center;
}

.container {
  padding: 0;
}

.admin-actions {
  display: flex;
  justify-content: end;
}

.indic-container {
  background-color: white;
  display: flex;
  min-height: 90vh;
}

.indic-container > div {
  padding: 1rem 0;
}

.indic-protocol-list {
  min-width: 20%;
  border-right: solid 2px dimgrey;
  background-color: #ededed;
}

.indic-protocol-list h3 {
  width: fit-content;
  margin: 0 auto;
}

.indic-protocol-list mat-list-option.mdc-list-item--selected {
  background-color: lightgrey;
}

.indic-list {
  flex-grow: 1;
}

.indic-list > div {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.indic-list mat-list-item {
  min-width: 550px;
  margin: 1rem 0;
}

.indic-list mat-list-item .list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.indic-list mat-list-item .list-item-actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.25rem;
}

.indic-list mat-list-item .list-item-actions mat-slide-toggle {
  padding-left: 1rem;
}

 .indic-list ::ng-deep .mat-mdc-slide-toggle label {
  margin-bottom: 0;
}

.indic-list mat-icon {
  vertical-align: middle;
}
