<div class="container">
  <div class="admin-actions">
    <button
      *ngIf="canReadReferenceTables()"
      [routerLink]="['/calculatrice/reference-tables']"
      class="mb-2 mt-2"
      mat-raised-button
      color="primary"
    >
      <mat-icon>table_chart</mat-icon>
      Gérer tableaux de référence
    </button>
  </div>
  <div class="indic-container">
    <div class="indic-protocol-list">
      <h3>Protocoles</h3>
      <div
        *ngIf="isLoadingProtocols"
        class="protocol-loading"
      >
        <div class="loading-spinner-sm"></div>
      </div>
      <mat-selection-list
        *ngIf="!isLoadingProtocols && protocols.length > 0"
        role="list"
        hideSingleSelectionIndicator
        #protocolList
        [multiple]="false"
        (selectionChange)="onProtocolChange(protocolList.selectedOptions.selected)"
      >
        <mat-list-option
          class="protocol mat-elevation-z2"
          role="listitem"
          *ngFor="let protocol of protocols"
          [value]="protocol.id"
          [selected]="protocol.id === selectedProtocolId"
          [title]="protocol.label"
        >
          {{ protocol.label }}
        </mat-list-option>
      </mat-selection-list>
      <p
        *ngIf="!isLoadingProtocols && protocols.length === 0"
        class="text-muted p-3 text-center"
      >
        Vous n'avez accès à aucun protocole.
      </p>
    </div>
    <div class="indic-list">
      <div>
        <div class="list-header">
          <h2>Liste des indicateurs</h2>
          <button
            *ngIf="canCreateIndicator()"
            [routerLink]="['/calculatrice/indicator/create']"
            mat-raised-button
            color="primary"
          >
            <mat-icon>add</mat-icon>
            Ajouter un indicateur
          </button>
        </div>
        <div
          *ngIf="isLoadingIndicators || isLoadingProtocols"
          class="loading-container"
        >
          <div class="loading-spinner"></div>
          <p class="text-muted">Chargement des indicateurs...</p>
        </div>
        <ng-container *ngIf="!isLoadingIndicators && !isLoadingProtocols">
          <mat-nav-list
            role="list"
            *ngIf="indicators.length > 0"
          >
            <mat-list-item
              class="mat-elevation-z2"
              role="listitem"
              *ngFor="let indicator of indicators"
            >
              <div
                matListItemTitle
                class="list-item-container"
              >
                <a
                  class="list-item-link"
                  [title]="indicator.name"
                  [routerLink]="['/calculatrice/visualization', indicator.id, 'params']"
                >
                  {{ indicator.name }}
                </a>
                <span class="list-item-actions">
                  <button
                    mat-icon-button
                    matTooltip="Informations"
                    (click)="onInformationClick($event, indicator)"
                  >
                    <mat-icon>info</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    *ngIf="canReadIndicator()"
                    matTooltip="Fiche détail de l'indicateur"
                    [routerLink]="['/calculatrice/indicator', indicator.id, 'details']"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    *ngIf="canEditIndicator()"
                    matTooltip="Éditer l'indicateur"
                    [routerLink]="['/calculatrice/indicator', indicator.id, 'edit']"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <mat-slide-toggle
                    *ngIf="canEditIndicator()"
                    [checked]="true"
                  >
                    Publié
                  </mat-slide-toggle>
                </span>
              </div>
            </mat-list-item>
          </mat-nav-list>
          <p
            *ngIf="protocols.length > 0 && indicators.length === 0"
            class="text-muted text-center mt-4"
          >
            Le protocole choisi n'a pas d'indicateurs.
          </p>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template
    #descriptionModal
    let-modal
  >
    <div class="modal-header">
      <h4
        class="modal-title"
        id="modal-basic-title"
      >
        {{ selectedIndicator.name }}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ selectedIndicator.description }}</p>
    </div>
  </ng-template>
</div>
